*.class

# Package Files #
*.jar
*.war
*.ear

*.~*

# IntelliJ Files should not be committed #
*.iml
*.ipr
*.iws
*.idea

# Maven build artifacts should not be committed #
target
*/target
dependency-reduced-pom.xml

