<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.pdx.cs410J.family.android"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="edu.pdx.cs410J.family.android.PersonListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.pdx.cs410J.family.android.PersonActivity">
        </activity>
        <uses-library android:name="android.support.test.runner" />
    </application>
    <uses-sdk android:minSdkVersion="6" />

     <!--
     This declares that this app uses the instrumentation test runner
     -->
     <instrumentation android:name="android.support.test.runner.AndroidJUnitRunner"
                      android:targetPackage="edu.pdx.cs410J.family.android"
                      android:label="Tests for Family Tree Android app"/>
</manifest>
