// Policy file for running unit tests

grant {
  permission java.net.SocketPermission "*:1024-65535",
      "connect,resolve,accept";
  permission java.io.FilePermission "${java.io.tmpdir}/-", 
      "read,write,delete";
  permission java.util.PropertyPermission "*", "read";
  permission java.io.FilePermission "${java.home}/lib/rt.jar", "read";
  permission java.lang.RuntimePermission "setIO";
};