<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Family Tree GWT Application</display-name>
  <servlet>
    <servlet-name>familyTreeServiceImpl</servlet-name>
    <servlet-class>edu.pdx.cs410J.family.gwt.server.FamilyTreeServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>edu.pdx.cs410J.family.FamilyTreeUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>familyTreeServiceImpl</servlet-name>
    <url-pattern>/family/tree</url-pattern>
  </servlet-mapping>    
</web-app>
